#goal-prep.tab-pane.user-main.p-3(role='tabpanel')
    if goal_prep.length === 0
        //-- complete
        form#goal-prep-form(method='POST', action='/submit-goal-prep')
            .form-group.mb-2
                input(type='hidden', name='question', value='What are your priorities in the next 6 - 12 months?')
                label.d-block.text-dark-blue.font-weight-bold.mb-0 What are your priorities in the next 6 - 12 months?
                i
                    small 
                        i.fa.fa-info-circle.fa-lg.mr-1(aria-hidden='true')
                        | Discuss departmental objectives and how they relate to personal priorities.
                textarea.form-control(rows='4', name='answer', required)
            .form-group.mb-2
                input(type='hidden', name='question', value='What success and achievements have you had in the past 12 months?')
                label.d-block.text-dark-blue.font-weight-bold.mb-0 What success and achievements have you had in the past 12 months?
                i
                    small 
                        i.fa.fa-info-circle.fa-lg.mr-1(aria-hidden='true')
                        | Discuss strengths, success, achievements, refer to and review the goals and commitments formulated for last period.
                textarea.form-control(rows='4', name='answer', required)
            .form-group.mb-2
                input(type='hidden', name='question', value='What would you like to do better?')
                label.d-block.text-dark-blue.font-weight-bold.mb-0 What would you like to do better?
                i
                    small 
                        i.fa.fa-info-circle.fa-lg.mr-1(aria-hidden='true')
                        | Generate options for the future. Discuss challenges that may be affecting goals and performance, and how they might be successfully overcome.
                textarea.form-control(rows='4', name='answer', required)
            .form-group.mb-2
                input(type='hidden', name='question', value='What suggestions do you have for your manager?')
                label.d-block.text-dark-blue.font-weight-bold.mb-0 What suggestions do you have for your manager?
                i
                    small 
                        i.fa.fa-info-circle.fa-lg.mr-1(aria-hidden='true')
                        | Discuss how they can better lead you.
                textarea.form-control(rows='4', name='answer', required)
            .form-group.text-right
                button#goal-prep-button.btn.btn-primary(type='submit')
                    i.fa.fa-level-down.fa-rotate-90.fa-lg.mr-2(aria-hidden='true')
                    | Submit
    else
        //-- complete
        form#goal-prep-update(method='POST', action='/update-goal-prep')
            each val, index in goal_prep
                .form-group.mb-2.pb-3.h-line(id='question-' + goal_prep[index].gpd_id)
                    label.d-inline-block.text-dark-blue.font-weight-bold #{goal_prep[index].question}
                    button.edit-goal-prep.ml-2.btn.btn-info.btn-sm(type='button', id=goal_prep[index].gpd_id, data-edit='false')
                        i.fa.fa-edit.mr-1(aria-hidden='true')
                        | Edit
                    input(type='hidden', value=goal_prep[index].gpd_id, name='gpd_id')
                    input(type='hidden', value=goal_prep[index].gpd_gp_id, name='gpd_gp_id')
                    textarea.answer-box.form-control(rows='4', id='answer-' + goal_prep[index].gpd_id, readonly, name='answer', required) #{goal_prep[index].answer}
            .form-group.text-right
                button#goal-prep-button.btn.btn-primary.mr-1(type='submit')
                    i.fa.fa-save.fa-lg.mr-1(aria-hidden='true')
                    | Save Changes
                button#goal-prep-cancel.btn.btn-danger(type='button')
                    i.fa.fa-ban.fa-lg.mr-1(aria-hidden='true')
                    | Reset All