#overview.tab-pane.active.user-main.p-3(role='tabpanel')
    if goal_prep.length === 0
        #goal-warning.w-75.mx-auto.d-flex.justify-content-center.align-items-center
            .alert.alert-info.text-center.font-weight-bold
                i.fa.fa-info-circle.fa-lg.mr-1(aria-hidden='true')
                | Please set your goal preparations
    else if goal.length === 0
        #goal-warning.w-75.mx-auto.d-flex.justify-content-center.align-items-center
            .alert.alert-info.text-center.font-weight-bold
                i.fa.fa-info-circle.fa-lg.mr-1(aria-hidden='true')
                | Please set your goal in Goal Setting
    else
        h6.text-dark-blue.mb-3.h-line.font-weight-bold
            i.fa.fa-bullseye.fa-lg.mr-1(aria-hidden='true')
            | Goal
        .card.bg-transparent#overview-goal.mb-3
            .card-block.h5.font-weight-bold #{goal[0].goal}
        if action.length > 0
            h6.p-2.text-dark-blue.mb-3.h-line.font-weight-bold
                i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
                | Actions | #{formatDate(action[0].start_date)} - #{formatDate(action[0].end_date)}
            #accordion-overview.accordion(role='tablist', aria-multiselectable='true')
                each val, index in action
                    - var i = index + 1
                    if (i === 1)
                        - var show = 'show'
                        - var collapsed = ''
                    else if (i > 1)
                        - var show = ''
                        - var collapsed = 'collapsed'
                    .card.mb-1.bg-transparent
                        a(data-toggle='collapse', data-parent='#accordion-overview', href='#collapse-overview-' + (index + 1), aria-expanded='true', aria-controls='collapse-overview-' + (index + 1), class=collapsed)
                            .card-header.bg-white.d-flex.align-items-center(role='tab', id='overview-action-' + (index + 1))
                                h6.d-inline-block.mb-0.font-weight-bold.mr-auto
                                    i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
                                    | #{action[index].action}
                                if action[index].status === 'Submitted'
                                    span.badge.badge-pill.badge-warning.mr-2 Pending
                                else if action[index].status === 'Approved'
                                    span.badge.badge-pill.badge-success.mr-2 Approved
                                else if action[index].status === 'Declined'
                                    span.badge.badge-pill.badge-danger.mr-2 Declined
                        .collapse.bg-transparent(role='tabpanel', aria-labelledby='overview-action-' + (index + 1), id='collapse-overview-' + (index + 1), class=show)
                            .card-block
                                .action-items.card-deck
                                    .card.bg-transparent
                                        .card-block.text-center
                                            label.d-block.font-weight-bold.text-dark-blue
                                                i.fa.fa-calendar-times-o.fa-lg.mr-1(aria-hidden='true')
                                                | Due Date
                                            | #{formatShortDate(action[index].due_date)}
                                    .card.bg-transparent
                                        .card-block.text-center
                                            label.d-block.font-weight-bold.text-dark-blue
                                                i.fa.fa-clock-o.fa-lg.mr-1(aria-hidden='true')
                                                | Hourly Cost
                                            | #{action[index].hourly_cost}
                                    .card.bg-transparent
                                        .card-block.text-center
                                            label.d-block.font-weight-bold.text-dark-blue
                                                i.fa.fa-dollar.fa-lg.mr-1(aria-hidden='true')
                                                | Training Cost
                                            | #{action[index].training_cost}
                                    .card.bg-transparent
                                        .card-block.text-center
                                            label.d-block.font-weight-bold.text-dark-blue
                                                i.fa.fa-money.fa-lg.mr-1(aria-hidden='true')
                                                | Expenses
                                            | #{action[index].expenses}
        else
            .alert.alert-info.mx-auto.mt-5.w-75.font-weight-bold.text-center
                i.fa.fa-info-circle.fa-lg.mr-1(aria-hidden='true')
                | Add actions to begin achieving your goal