#check-ins.tab-pane.user-main.p-3(role='tabpanel')
    h6.h-line
        i.fa.fa-bullseye.fa-lg.mr-1(aria-hidden='true')
        | My Professional Development Goal is:
    .card.mb-2.mt-2.bg-transparent 
        .card-block
            if goal.length > 0
                .h5.font-weight-bold #{goal[0].goal}
    h6.h-line
        i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
        | My Actions are
    small.d-block.mb-2
        em If you need to change or add action, please do so in the 
            u.font-weight-bold Goal Setting page
    #accordion-checkins.accordion(role='tablist', aria-multiselectable='true')
        each val, index in action
            - var i = index + 1
            if (i === 1)
                - var show = 'show'
                - var collapsed = ''
            else if (i > 1)
                - var show = ''
                - var collapsed = 'collapsed'
            .card.mb-1.bg-transparent
                a(data-toggle='collapse', data-parent='#accordion-checkins', href='#collapse-checkin-action-' + i, aria-expanded='true', aria-controls='collapse-checkin-action-' + i, class=collapsed)
                    .card-header.bg-white(role='tab', id='checkin-action-' + i)
                        h6.d-inline-block.mb-0.font-weight-bold
                            i.fa.fa-dot-circle-o.fa-lg.mr-1(aria-hidden='true')
                            | #{action[index].action}
                .collapse.bg-transparent(role='tabpanel', aria-labelledby='checkin-action-' + i, id='collapse-checkin-action-' + i, class=show)
                    .card-block
                        - var ck_submitted = false
                        if !ck_submitted
                            each v, idx in checkin
                                if action[index].a_id === checkin[idx].c_a_id
                                    .alert.alert-success
                                        i.fa.fa-check.fa-lg.mr-1(aria-hidden='true')
                                        b You already submitted your check-in for this action on #{formatDate(checkin[idx].checkin_date)}
                                    - ck_submitted = true
                        if !ck_submitted
                            //-- this is complete
                            #employee-ck-comments
                            form.employee-checkin(method='POST', action='/employee/submit-checkin')
                                .card.mt-2.bg-transparent
                                    .card-block
                                        label.d-block.font-weight-bold.text-dark-blue 
                                            i.fa.fa-comment-o.fa-lg.mr-1(aria-hidden='true')
                                            | Employee Comment
                                        .d-inline-block.w-85.align-top
                                            input(type='hidden', name='a_id', value=action[index].a_id)
                                            input.form-control(type='text', placeholder="How are you doing with this action?", name='comment')
                                        .d-inline-block.w-15.align-top
                                            .d-flex.justify-content-around
                                                button.no-bg(type='reset')
                                                    i.fa.fa-times.fa-lg(aria-hidden='true')
                                                button.btn.btn-primary(type='submit')
                                                    i.fa.fa-level-down.fa-rotate-90.fa-lg.mr-2(aria-hidden='true') 
                                                    | Submit
                    if checkin.length > 0
                        each val, idx in checkin
                            if action[index].a_id === checkin[idx].c_a_id && checkin[idx].manager_checkin_comment
                                .card-footer.card-info-light.d-flex.justify-content-start.align-items-center
                                    .mr-3
                                        i.fa.fa-commenting.fa-2x(aria-hidden='true')
                                    div
                                        label.d-block.font-weight-bold.mb-0 Manager Comment:
                                        | #{checkin[idx].manager_checkin_comment}
                                - break