.col-md-2.sidebar
    .mb-4.bg-white.rounded-circle.mx-auto
        img.profile-pic.img-fluid.rounded-circle(src=user.photoUrl)
    label.d-block.font-weight-bold.text-dark-blue Employee ID
    | #{user.employeeNumber}
    hr.w-100
    label.d-block.font-weight-bold.text-dark-blue Hired Date
    |  #{user.hireDate}
    hr.w-100
    label.d-block.font-weight-bold.text-dark-blue Department
    |  #{user.department}
    hr
    label.d-block.font-weight-bold.text-dark-blue Division
    |  #{user.division}
    hr
    label.d-block.font-weight-bold.text-dark-blue Manager
    |  #{user.supervisor}